body {
display: grid;
place-items: center;
margin: 0;
padding: 0;
}

.menu-wrapper {
display: grid;
grid-template-rows: 250px 1fr 20px;
width: 60%;
background-color: rgb(255, 187, 0);
padding: 100px 0;
margin-top: 10px;
}

.menu-content {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 0;
}

.menu-item1 {
background-color: red;
}

.menu-item2 {
background-color: green;
}

.menu-item3 {
background-color: rgb(39, 89, 240);
}

.menu-item4 {
background-color: black;
}